{% assign schedule = site.data.schedule %}

<table class="schedule" style="border: 1px">
    <thead>
        <tr>
            <th></th>
            <th colspan="2">Tuesday</th>
            <th colspan="2">Thursday</th>
            <th>Assignment</th>
        </tr>
    </thead>
    {% for week in schedule.weeks %}
        <tr class="week">
            <td class="number">{{ week.number }}</td>

            {% assign class = week.class[0] %}
            <td class="date">
                <p class="day">{{ class.date }}</p>
            </td>
            <td class="title">
                {{ class.title }}
                {% if class.materials %}
                    <ul class="materials">
                    {% for material in class.materials %}
                        <li>
                            <a href="{{material.link}}">{{material.title}}</a>
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </td>

            {% assign class = week.class[1] %}            
            <td class="title">
                {{ class.title }} 
                {% if class.materials %}
                    <ul class="materials">
                        {% for material in class.materials %}
                            <li>
                                <a href="{{material.link}}">{{material.title}}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </td>
            <td class="date">
                <p class="day">{{ class.date " }}</p>
            </td>

            <td class="assignment">
                {% for assignment in week.assignments %}
                    <p class="title">
                        {% if assignment.url %}
                            <a href="{{ assignment.url }}">
                        {% endif %}
                        {{  assignment.title }}
                        {% if assignment.url %}
                            </a>
                        {% endif %}
                    </p>
                    {% if assignment.dueDate %}
                        <p class="due-date">
                            <b>Submission:</b> {{ assignment.dueDate }}
                        </p>
                    {% endif %} 
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
</table>
